
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background-color: #0b0b0b;
    color:white;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
    position: sticky;
    top:0;
    width:100%;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
}
.profile-card {
    position: absolute;
    top:70px;
    right: 20px;
    background: #1a1a1a;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 220px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1000;
}
.profile-card h3 {
    margin-bottom: 15px;
}
.profile-card p {
    margin-bottom: 10px;
}
.logout-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: red;
    color:white;
    cursor: pointer;
}
.logo {
    font-size: 38px;
    font-weight: bold;
    color:rgb(212, 62, 62);
}
.nav-center {
    display: flex;
    align-items: center;
    gap:20px;
}
.search-input {
    width:255px;
    padding: 10px;
    border:none;
    border-radius: 8px;
    background-color: #1f1f1f;
    color:white;
}
.language-select {
    padding: 15px;
    border:none;
    background-color: #1f1f1f;
    border-radius: 8px;
    color:white;
}
.profile {
    font-size: 35px;
    cursor: pointer;
    color: white;
}
.hero-banner {
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background-repeat: no-repeat;
}
.banner-content {
    max-width:650px;
    margin-top: 80px;
}
.banner-title {
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 25px;
    text-shadow:2px 2px 20px rgb(5, 5, 5);
}
.banner-description {
    font-size: 22px;
    line-height: 1.8;
    color:#d1d5db;
    margin-bottom: 35px;
}
.banner-buttons {
    display:flex;
    gap:20px;
}
.watch-btn {
    padding: 15px 30px;
    background-color: rgb(51, 51, 51);
    color:white;
    border: none;
    border-radius: 8px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s

}
.watch-btn:hover {
    background-color: rgb(102, 36, 36);
}
.trailer-btn {
       padding: 15px 30px;
    background-color: rgb(205, 219, 81);
    color:white;
    border: none;
    border-radius: 8px;
    font-size:15px;
    cursor:pointer;
    transition:0.3s
}
.trailer-btn:hover {
    background-color:rgb(79, 79, 26);
}


.movie-cards {
    display: flex;
    gap:25px;
    overflow-x: auto;
    padding: 10px 20px 20px;
    scrollbar-width:none;
}
.movie-cards::-webkit-scrollbar {
    display:none;
}
.movie-card {

    min-width: 220px;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;
    flex-shrink: 0;
}
.movie-card:hover {
    transform:scale(1.05);
    background: rgb(164, 5, 5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(255,0,0,0.6);
    border: 2px solid #f7170c;
}
.movie-image {
    width:100%;
    object-fit: cover;
    height: 320px;
    border-radius: 10px;
    display: block;
}
.movie-title {
    color:white;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.movie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#aaa;
    gap:8px;
    margin-top:8px;
    font-size:18px;
}
.star-info {
    color:rgb(187, 169, 69);
    font-size: 25px;

}
.movie-row {
    padding:  40px;
}
.row-title {
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:20px;
    text-align: center;
}